@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
}
.header{
    display: flex;
    justify-content: space-around;
    height:150px;
}
.header-text, .two-author, .three-text-title{
    font-size: 24px;
    font-weight: 900;
    padding-top:16px;
}
.bottom-header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.bottom-header-left{
    width:500px;
}
.bottom-header-title{
    font-size: 48px;
    font-weight: 900;
}
.botoom-header-text{
    font-size: 18px;
}
.img1{
    width:300px;
    height: auto;
    border-radius: 10%;
    border-style: solid;
    border-color: #3882F6;
}
.header, .bottom-header, .footer{
    background-color: #1F2937;
    color:white;
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
}
.one{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.one-info{
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    padding: 20px;
}
.one-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 20px;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 350px;
    padding-right: 350px;
}
.two-quote{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
}
.two-author{
    color: #1f2937;
    padding-left: 500px;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin:200px;    
}
.three-text-title, .three-text-text{
    color:white;
}
.three-sign-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:24px;
    font-weight: bolder;
    font-size:24px;
}
.three-button{
    border-style: solid;
    border-color: #E5E7EB;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
a{
    font-size: 18px;
    text-decoration: none;
    color:white;
}
button{
    background-color: #3882F6;
    border:none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px 10px 25px;
}
@media only screen and (max-width: 500px) {
    .bottom-header{
        word-wrap: break-word;
    }
    .two{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #E5E7EB;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .two-quote{
        font-style: italic;
        font-weight: lighter;
        font-size: 36px;
        color: #1F2937;
    }
    .two-author{
        color: #1f2937;
        padding-left: 60%;
    }
    .three{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3882F6;
        border-radius: 10px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin:5%;    
    }
    .three-text-title, .three-text-text{
        color:white;
    }
    .three-sign-up{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
  }